﻿@model IList<Piranha.Manager.Models.Property.EditModel>
           
@for (int i = 0; i < Model.Count; i++)
{
    <div class="form-group">
        <div class="col-sm-6 @((i%2 == 0)? "pull-left" : "pull-right")">
            @Html.EditorFor(m => m[i], "Property")
        </div>        
    </div>
}
