﻿@model Piranha.Manager.Models.Property.EditModel

<div class="row">
    <div class="col-sm-2">
        @Html.LabelFor(m => m.Name, Model.Name)
    </div>

    <div class="col-sm-4">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ParentId)
        @Html.HiddenFor(m => m.InternalId)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.CLRType)

        @if (Model.CLRType.EndsWith("StringExtension"))
        {
            @Html.TextBoxFor(m => m.Value, new {@class = "form-control"})
        }
        else if (Model.CLRType.EndsWith("BooleanExtension"))
        {
            @Html.HiddenFor(m => m.Value, new {id = Model.InternalId + "_StringBool"})
            <input type="checkbox" id="@(Model.InternalId + "_CheckBox")" @(Model.Value.Equals("true") ? "checked='checked'" : "")/>
        }
        else if (Model.CLRType.EndsWith("TextExtension") || Model.CLRType.EndsWith("TextExtension"))
        {
            @Html.TextAreaFor(m => m.Value, new {@class = "form-control"})
        }
        else if (Model.CLRType.EndsWith("DateExtension"))
        {
            <div class="input-group date">
                @Html.TextBox("", (!string.IsNullOrEmpty(Model.Value) ? DateTime.Parse(Model.Value).ToShortDateString() : string.Empty), new {@class = "form-control"})
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
        }
        else if (Model.CLRType.EndsWith("IntegerExtension"))
        {
            @Html.TextBoxFor(m => m.Value, new {data_integer = true, @class = "form-control"})
        }

        @Html.ValidationMessageFor(m => m.Value)
    </div>
    <div class="col-sm-8">&nbsp;</div>
    <script>
        $("#@(Model.InternalId + "_CheckBox")").click(function () {
            var isChecked = $(this).is(":checked");

            $("#@(Model.InternalId + "_StringBool")").val(isChecked ? "true" : "false");
        });
        $('.input-group.date').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        $(function () {
            $(":input[data-integer]").mask("9999");
        });

    </script>
</div>