﻿@model Piranha.Client.Models.PageModel
@{
	ViewBag.Title = Model.Title;

}

<div id="main">
	<article role="main">
		<header>
			<h1>@Model.Title</h1>
		</header>
		@Html.Raw(Model.Body)
	</article>
</div>
