﻿@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?4pufz0');
  src: url('../fonts/icons.eot?#iefix4pufz0') format('embedded-opentype'), url('../fonts/icons.woff?4pufz0') format('woff'), url('../fonts/icons.ttf?4pufz0') format('truetype'), url('../fonts/icons.svg?4pufz0#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-comment:before {
  content: "\e600";
}
.icon-tag:before {
  content: "\e601";
}
.icon-clock:before {
  content: "\e602";
}
/*# sourceMappingURL=icons.css.map */