﻿/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?4pufz0');
  src: url('../fonts/icons.eot?#iefix4pufz0') format('embedded-opentype'), url('../fonts/icons.woff?4pufz0') format('woff'), url('../fonts/icons.ttf?4pufz0') format('truetype'), url('../fonts/icons.svg?4pufz0#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-comment:before {
  content: "\e600";
}
.icon-tag:before {
  content: "\e601";
}
.icon-clock:before {
  content: "\e602";
}
html {
  font: 1.1em/1.6 "Open Sans", sans-serif;
  color: #343436;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizelegibility;
  margin: 0.2em 0;
  color: #000000;
}
h1 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -0.03em;
}
h1 small {
  font-size: 1.8rem;
  letter-spacing: 1;
  color: #666666;
  margin-left: 0.5em;
}
h2 {
  font-size: 1.8em;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0.8em;
  padding: 0.1em 0 0.4em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  background: #eeeeee;
  font-size: 1.1em;
  text-transform: uppercase;
}
p {
  margin: 1em 0;
}
p.excerpt {
  font-size: 1.2em;
  font-weight: 300;
}
p.meta {
  font-size: 0.9em;
  font-weight: 300;
  color: #666666;
}
p.note {
  color: #666666;
  font-weight: 300;
}
pre,
code {
  background: #eeeeee;
  padding: 0.2em;
}
pre {
  font-size: 0.8em;
  padding: 1em;
  border-left: solid 0.5em #aacccc;
}
pre pre,
pre code {
  background: transparent;
  font-size: inherit;
  padding: 0;
  border: 0 none;
}
a {
  color: #1f7da4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong {
  color: #000000;
}
blockquote {
  color: #666666;
  border-left: solid 4px #eeeeee;
  margin: 2em 0;
  padding: 0 1.5em;
  font-size: 0.9em;
  font-weight: 300;
}
nav[role="navigation"] {
  background: #222;
  border-bottom: solid 1px #111;
  background-image: linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -o-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -moz-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -webkit-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -ms-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.18, #131313), color-stop(0.8, #3a3a3a));
  height: 4em;
}
nav[role="navigation"] .wrapper {
  position: relative;
}
nav[role="navigation"] .wrapper #home {
  position: absolute;
  top: 0;
  left: 1em;
}
nav[role="navigation"] .wrapper #home .small {
  display: none;
}
nav[role="navigation"] .wrapper #code {
  float: right;
}
nav[role="navigation"] .wrapper #code img {
  width: 1.3em;
  margin-top: 0.4em;
}
nav[role="navigation"] ul {
  margin: 0.2em 0;
  padding: 0;
  float: right;
}
nav[role="navigation"] ul li {
  list-style-type: none;
  float: left;
  margin-right: 1.4em;
  position: relative;
}
nav[role="navigation"] ul li a {
  color: #fff;
  font-size: 0.9em;
  transition: color ease-in-out 0.1s;
  -moz-transition: color ease-in-out 0.1s;
  -webkit-transition: color ease-in-out 0.1s;
}
nav[role="navigation"] ul li a:hover {
  color: #ddd;
  text-decoration: none;
  transition: color ease-in-out 0.1s;
  -moz-transition: color ease-in-out 0.1s;
  -webkit-transition: color ease-in-out 0.1s;
}
#subnav {
  border-bottom: solid 1px #057;
  background-image: linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -o-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -moz-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -webkit-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -ms-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.18, #1b6d8d), color-stop(0.8, #1c7196));
  box-shadow: inset 0 -2px 20px rgba(0, 0, 0, 0.3);
  height: 3em;
}
#subnav .wrapper {
  padding: 0.5em 1em;
}
#subnav ul {
  float: right;
  margin: 0;
  padding: 0;
}
#subnav ul li {
  list-style-type: none;
  float: left;
  margin-left: 1em;
  position: relative;
}
#subnav ul li a {
  color: #bcd;
  font-size: 0.8em;
  font-weight: 300;
}
#subnav ul li a:hover {
  color: #fff;
  text-decoration: none;
}
#subnav ul li.active a,
#subnav ul li.active-child a {
  color: #fff;
}
#subnav ul li.active:before,
#subnav ul li.active-child:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 8px transparent;
  border-top-color: #181818;
  position: absolute;
  margin-top: -0.5em;
  margin-left: -8px;
  left: 50%;
}
#section-menu:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
#section-menu ul {
  margin: 0 -0.5em 0 0;
  padding: 0;
  float: right;
}
#section-menu ul li {
  list-style: none;
  float: left;
  position: relative;
}
#section-menu ul li a {
  font-size: 0.8em;
  padding: 0 0.5em;
  border-right: solid 1px #dddddd;
  transition: color ease-in-out 0.2s;
  -moz-transition: color ease-in-out 0.2s;
  -webkit-transition: color ease-in-out 0.2s;
}
#section-menu ul li a:hover {
  color: #005577;
  text-decoration: none;
  transition: color ease-in-out 0.2s;
  -moz-transition: color ease-in-out 0.2s;
  -webkit-transition: color ease-in-out 0.2s;
}
#section-menu ul li.active:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 8px transparent;
  border-top-color: #005577;
  position: absolute;
  margin-top: -1em;
  margin-left: -8px;
  left: 50%;
}
#section-menu ul li.active a {
  color: #005577;
}
#section-menu ul li:last-child a {
  border-right: none;
}
.wrapper {
  max-width: 720px;
  min-width: 320px;
  padding: 1em;
  margin: 0 auto;
}
header[role="banner"] {
  color: #fff;
  border-bottom: solid 1px #057;
  text-align: center;
  background-image: linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -o-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -moz-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -webkit-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -ms-linear-gradient(bottom, #1b6d8d 18%, #1c7196 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.18, #1b6d8d), color-stop(0.8, #1c7196));
  box-shadow: inset 0 -2px 20px rgba(0, 0, 0, 0.3);
}
header[role="banner"] img {
  max-width: 80%;
  margin: 1em 0 -2.5em;
}
header[role="banner"] img.shield {
  margin-top: 0;
}
#main article {
  max-width: 720px;
  min-width: 320px;
  padding: 1em;
  margin: 0 auto;
}
#latest {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffc106), color-stop(1, #fddd7f));
  background-image: -o-linear-gradient(bottom, #ffc106 0%, #fddd7f 100%);
  background-image: -moz-linear-gradient(bottom, #ffc106 0%, #fddd7f 100%);
  background-image: -webkit-linear-gradient(bottom, #ffc106 0%, #fddd7f 100%);
  background-image: -ms-linear-gradient(bottom, #ffc106 0%, #fddd7f 100%);
  background-image: linear-gradient(to bottom, #ffc106 0%, #fddd7f 100%);
  border-bottom: solid 1px #EDCD6F;
  font-size: 0.9rem;
  padding: 1.5em 0 1em;
  text-align: center;
}
#latest a {
  color: #666666;
}
.post {
  border-bottom: solid 1px #dddddd;
}
.post h2 {
  border: none;
  margin: 0.2em 0;
  padding: 0;
}
.post h2 a {
  color: #000000;
  transition: color ease-in-out 0.2s;
  -moz-transition: color ease-in-out 0.2s;
  -webkit-transition: color ease-in-out 0.2s;
}
.post h2 a:hover {
  color: #1f7da4;
  text-decoration: none;
  transition: color ease-in-out 0.2s;
  -moz-transition: color ease-in-out 0.2s;
  -webkit-transition: color ease-in-out 0.2s;
}
.meta [class^="icon-"],
.meta [class*=" icon-"] {
  color: #1f7da4;
  margin: 0 5px;
  font-size: 0.8em;
  opacity: 0.8;
}
.meta [class^="icon-"]:first-child,
.meta [class*=" icon-"]:first-child {
  margin-left: 0;
}
.comments h2 {
  font-weight: 300;
}
.comments h3 img {
  float: left;
  margin-right: 10px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.comments h3 small {
  font-size: 0.7em;
  font-weight: 300;
  color: #666;
}
.comments p {
  border: solid 1px #ddd;
  padding: 1em;
  font-size: 0.9em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.comment {
  margin-bottom: 30px;
}
.comment:last-child {
  margin-bottom: 0;
}
.add-comment h2 {
  font-weight: 300;
}
.add-comment input,
.add-comment textarea {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border: solid 1px #ddd;
  box-sizing: border-box;
  font-size: 0.8em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.add-comment button {
  background: #222;
  border-bottom: solid 1px #111;
  background-image: linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -o-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -moz-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -webkit-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -ms-linear-gradient(bottom, #131313 18%, #3a3a3a 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.18, #131313), color-stop(0.8, #3a3a3a));
  color: #fff;
  border: 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
article.error {
  text-align: center;
}
@media (max-width: 600px) {
  html {
    font-size: 1em;
  }
  .wrapper,
  #main article {
    box-sizing: border-box;
  }
  nav[role="navigation"] .wrapper #home img {
    display: none;
  }
  nav[role="navigation"] .wrapper #home img.small {
    display: inline;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3,
  h4 {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=style.css.map */