﻿.panel .table {
  margin-bottom: 0;
}
.panel .table thead tr th {
  background: transparent;
  border-bottom: solid 4px #f5f5f5;
}
.table-striped > tbody > tr:nth-child(2n+1) > td {
  background-color: #fff;
}
.table-striped > tbody > tr:nth-child(2n+1).active > td {
  background-color: #d9edf7;
}
.table-striped > tbody > tr:nth-child(2n) > td {
  background-color: #fff;
}
.table-striped > tbody > tr:nth-child(2n).active > td {
  background-color: #d9edf7;
}
.form label.label-small {
  font-size: 12px;
}
.form .form-group {
  background: #fff;
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  position: relative;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.form .form-group.has-error {
  border-color: #e88;
}
.form .form-group .form-control {
  height: auto;
  border: 0 none;
  font-size: 18px;
  box-shadow: none;
}
.form .form-group .form-control.input-validation-error {
  border: 1px solid #e88;
  padding: 5px 12px;
}
.form .form-group .form-control.title {
  font-size: 26px;
  color: #222;
}
.form .form-group .form-control.meta {
  font-size: 14px;
}
.form .form-group .form-control.count-me + p {
  color: #999;
  font-size: 12px;
  padding: 4px 12px;
  margin: 0;
  text-align: right;
  text-transform: uppercase;
}
.form .form-group textarea {
  resize: none;
}
.form .form-group .field-validation-error {
  display: block;
  background: #333;
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
  position: absolute;
  top: -12px;
  right: -8px;
  opacity: 0.9;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.form .form-group .form-control-feedback {
  top: 0;
}
.form .form-group .select2-container {
  width: 100%;
  padding: 1px 2px;
}
.form .form-group .select2-container.select2-container-multi .select2-choices {
  background-image: none;
  border: 0 none;
  padding: 2px 5px 0;
}
.form .form-group .select2-container.select2-container-multi .select2-choices .select2-search-choice {
  color: #fff;
  background: #444;
  border-color: #444;
  box-shadow: none;
  margin: 4px 2px 0 12px;
  font-size: 10px;
  text-transform: uppercase;
}
.form .form-group .select2-container.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  top: 2px;
}
.form .form-group .select2-container.select2-container-multi .select2-choices .select2-search-choice:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #444;
}
.form .form-group .mce-tinymce {
  border: 0 none !important;
}
.form .form-group .mce-tinymce .mce-panel {
  background: #fff;
  background-image: none;
  padding: 1px 2px;
}
.form .form-group .mce-tinymce .mce-panel .mce-btn {
  background: transparent;
  background-image: none;
  border: 0 none;
  box-shadow: none;
}
.form .form-group .mce-tinymce .mce-panel .mce-btn .mce-ico {
  font-size: 14px;
}
.form .form-group .mce-tinymce .mce-edit-area {
  border-top: 0 none;
}
.form .panel-white .form-group,
.form .table .form-group {
  border: 0;
}
.form .panel-white .form-group input,
.form .table .form-group input,
.form .panel-white .form-group select,
.form .table .form-group select {
  background: #eee;
  border-bottom: 1px solid #dddddd;
}
.form .panel-white .form-group input::-webkit-input-placeholder,
.form .table .form-group input::-webkit-input-placeholder,
.form .panel-white .form-group select::-webkit-input-placeholder,
.form .table .form-group select::-webkit-input-placeholder,
.form .panel-white .form-group input:-moz-placeholder,
.form .table .form-group input:-moz-placeholder,
.form .panel-white .form-group select:-moz-placeholder,
.form .table .form-group select:-moz-placeholder,
.form .panel-white .form-group input::-moz-placeholder,
.form .table .form-group input::-moz-placeholder,
.form .panel-white .form-group select::-moz-placeholder,
.form .table .form-group select::-moz-placeholder,
.form .panel-white .form-group input:-ms-input-placeholder,
.form .table .form-group input:-ms-input-placeholder,
.form .panel-white .form-group select:-ms-input-placeholder,
.form .table .form-group select:-ms-input-placeholder {
  color: #ccc;
}
.form .table .form-group {
  margin-bottom: 0;
}
.form .table .form-group input,
.form .table .form-group select,
.form .table .form-group textarea {
  font-size: 14px;
}
.btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.btn.btn-primary {
  background: #2a8ac2;
  border-color: #2a8ac2;
  color: #fff;
}
.btn.btn-success {
  background: #439700;
  border-color: #439700;
  color: #fff;
}
.btn-label {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.col-sm-12.buttons {
  text-align: right;
  margin-top: -50px;
}
.col-sm-12.buttons .dropdown-menu {
  text-align: left;
}
/*# sourceMappingURL=forms.css.map */