﻿body {
  background-color: #f2f2f2;
  font-family: Arial;
  margin-left: 220px;
  min-width: 768px;
}
h1 {
  text-transform: uppercase;
  font-family: "Open Sans", Arial;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 20px;
}
a {
  color: #2a8ac2;
}
.container-fluid {
  margin-left: 0;
}
.section-title {
  border-bottom: solid 1px #dddddd;
  padding-bottom: 10px;
}
.subtitle {
  color: #444;
  font-family: "Open Sans";
  font-weight: bold;
  margin: -8px 0 20px 2px;
  text-transform: uppercase;
}
.subtitle strong {
  color: #000;
}
/*# sourceMappingURL=general.css.map */