﻿#login {
  margin: 0;
}
#login .container {
  max-width: 360px;
  min-width: 300px;
  margin-top: 80px;
  text-align: center;
  padding: 10px;
}
#login .container input {
  padding: 10px 12px;
}
#login .container .btn {
  width: 100%;
  padding: 10px 20px;
}
/*# sourceMappingURL=login.css.map */