﻿.modal-content {
  color: #fff;
  background: #333;
  border-color: #333;
}
.modal-content .modal-header {
  border-bottom: 1px solid #222;
}
.modal-content .modal-body {
  border-top: 1px solid #444;
  border-bottom: 1px solid #222;
}
.modal-content .modal-body label {
  color: #ddd;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.modal-content .table {
  margin-bottom: 0;
}
.modal-content .table thead {
  color: #ddd;
}
.modal-content .table thead > tr > th {
  background: #222;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 2px solid #444;
}
.modal-content .table tbody > tr > td {
  border-top: 0 none;
}
.modal-content .modal-footer {
  margin-top: 0;
  border-top: 1px solid #444;
}
/*# sourceMappingURL=modals.css.map */