﻿.navmenu-inverse {
  width: 220px;
}
.navmenu-inverse .navmenu-brand {
  text-align: center;
  border-bottom: 1px solid #444;
  margin: 0;
}
.navmenu-inverse .navmenu-nav > li {
  font-size: 15px;
  border-bottom: 1px solid #444;
}
.navmenu-inverse .navmenu-nav > li span {
  color: #f0ad4e;
  padding-right: 8px;
  width: 28px;
}
.navmenu-inverse .navmenu-nav > li a {
  color: #ddd;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
}
.navmenu-inverse .navmenu-nav > li a:hover {
  background: #2a2a2a;
}
.navmenu-inverse .navmenu-nav > li ul {
  padding: 0;
}
.navmenu-inverse .navmenu-nav > li ul li {
  font-size: 13px;
  list-style-type: none;
}
.navmenu-inverse .navmenu-nav > li ul li a {
  color: #2a8ac2;
  display: block;
  padding: 8px 0 8px 44px;
  font: normal 15px Arial;
}
.navmenu-inverse .navmenu-nav > li ul li a:hover {
  text-decoration: none;
}
.navmenu-inverse .navmenu-nav > li ul li:first-child a {
  padding-top: 10px;
}
.navmenu-inverse .navmenu-nav > li ul li:last-child a {
  padding-bottom: 14px;
}
.navmenu-inverse .navmenu-nav > li ul li.active a {
  background: #2a2a2a;
  color: #ccc;
}
.navmenu-inverse .navmenu-nav > li.active a {
  border-bottom: 1px solid #000;
}
.nav-pills > li > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background: #dddddd;
}
.nav-pills > li.active a {
  background: #2a8ac2;
}
/*# sourceMappingURL=navigation.css.map */