﻿.panel {
  border: 1px solid #dddddd;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.panel > .panel-heading {
  background: #f8f8f8;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.panel > .panel-heading .btn {
  margin: -2px 0 0 4px;
}
.panel .panel-footer {
  background: #f8f8f8;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
}
.panel .panel-title {
  font-family: "Open Sans", Arial;
  text-transform: uppercase;
  padding: 4px 0;
}
.panel .form-group {
  border-width: 1px;
}
.panel.panel-white {
  border: none;
  padding: 20px;
}
.panel.panel-white h3 {
  color: #999;
  font-family: "Open Sans";
  font-weight: 300;
  margin-top: 0;
}
.panel.panel-white .account-banner {
  color: #999;
  margin-bottom: 20px;
  font: 300 32px "Open Sans", Arial;
}
.panel.panel-white .account-banner small {
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.panel.panel-white .account-logo {
  background: url('../img/logo-big.png') 50% 0 no-repeat;
  height: 155px;
  margin-bottom: 20px;
}
.panel.panel-white .row:last-child .form-group:last-child {
  margin-bottom: 0;
}
.panel.panel-add > .panel-heading {
  padding: 0;
}
.panel.panel-add > .panel-heading .panel-title > a {
  display: block;
  padding: 10px 15px;
}
.panel.panel-add > .panel-heading .panel-title > a:hover {
  text-decoration: none;
}
.panel.panel-add > .panel-heading .panel-title > a:focus {
  outline: none;
  text-decoration: none;
}
.panel.panel-add > .panel-heading .panel-title > .glyphicon {
  padding: 10px 15px;
}
.panel.panel-primary > .panel-heading {
  background: #2a8ac2;
  border-color: #2a8ac2;
}
.panel .gravatar {
  background: #fff;
  padding: 3px;
  border: 1px solid #ddd;
  position: absolute;
  top: 44px;
  right: 20px;
  z-index: 100;
  border-radius: 43px;
  -moz-border-radius: 43px;
  -webkit-border-radius: 43px;
  -o-border-radius: 43px;
}
.notification {
  background: #a3d790;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  display: none;
  opacity: 0;
}
.notification span {
  color: #fff;
  font-size: 180px;
  position: absolute;
  width: 180px;
  height: 180px;
  left: 50%;
  top: 100%%;
  margin: -90px 0 0 -90px;
}
.pre-saved .notification {
  display: block;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
  -o-transition: opacity ease-in-out 0.2s;
}
.pre-saved .notification span {
  top: 100%;
  transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}
.saved .notification {
  display: block;
  opacity: 0.8;
  transition: opacity ease-in-out 0.2s;
  -moz-transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
  -o-transition: opacity ease-in-out 0.2s;
}
.saved .notification span {
  top: 50%;
  transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}
.post-saved .notification {
  display: block;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  -moz-transition: opacity ease-in-out 0.4s;
  -webkit-transition: opacity ease-in-out 0.4s;
  -o-transition: opacity ease-in-out 0.4s;
}
.post-saved .notification span {
  top: 0;
  transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}
/*# sourceMappingURL=panels.css.map */