﻿.table thead tr th {
  background: #e2e2e2;
  padding: 12px 20px;
  font-family: "Open Sans", Arial;
  text-transform: uppercase;
}
.table thead tr th.actions.one {
  width: 32px;
}
.table thead tr th.actions.two {
  width: 64px;
}
.table thead tr th.actions.three {
  width: 96px;
}
.table thead tr th .sort {
  cursor: pointer;
}
.table thead tr th .sort::after {
  display: inline-block;
  padding-left: 4px;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  position: relative;
  top: 1px;
  -moz-osx-font-smoothing: grayscale;
}
.table thead tr th .sort.asc::after {
  content: "";
}
.table thead tr th .sort.desc::after {
  content: "";
}
.table > tbody > tr > td {
  padding: 10px 20px;
  border-top: 4px solid #f2f2f2;
}
.table > tbody > tr > td.actions a {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.table > tbody > tr > td.actions a.delete {
  background: url('../img/ico-delete-16.png') 0 0 no-repeat;
}
.table > tbody > tr > td.actions a.down {
  background: url('../img/ico-arrow-down-16.png') 0 0 no-repeat;
}
.table > tbody > tr > td.actions a.up {
  background: url('../img/ico-arrow-up-16.png') 0 0 no-repeat;
}
.table > tbody > tr > td p.meta {
  color: #999999;
  margin: 4px 0 0;
}
.table > tbody > tr.detail {
  display: none;
}
.table > tbody > tr.detail > td {
  border: 0;
}
.table > tbody > tr.unpublished .meta {
  color: #f0ad4e;
}
.table > tbody > tr.saved > td {
  background: #a3d790 !important;
  transition: background ease-in-out 0.2s;
  -moz-transition: background ease-in-out 0.2s;
  -webkit-transition: background ease-in-out 0.2s;
  -o-transition: background ease-in-out 0.2s;
}
.table > tbody > tr.post-saved > td {
  background: #fff;
  transition: background ease-in-out 0.4s;
  -moz-transition: background ease-in-out 0.4s;
  -webkit-transition: background ease-in-out 0.4s;
  -o-transition: background ease-in-out 0.4s;
}
.table .date {
  width: 114px;
}
.table .well {
  margin-top: 10px;
  margin-bottom: 0;
}
.table.table-main tr td {
  vertical-align: middle;
}
.table.table-main tr:hover td {
  background: #fafafa;
}
.table.table-main a {
  font-family: "Open Sans", Arial;
  font-size: 16px;
}
.table .gravatar {
  width: 40px;
  margin-right: 10px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
}
/*# sourceMappingURL=tables.css.map */