﻿@model CodeKarma.UI.Models.ContactUsModel

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <!-- Web Fonts -->
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/css/one.style.css">
    </head>
<body>
<fieldset>
    <label><h4>Name:</h4></label>
    <div>
        @Model.Name
    </div>

    <label><h4>Email:</h4></label>
    <div>
        @Model.Email
    </div>

    <label><h4>Phone:</h4></label>
    <div>
        @Model.Phone
    </div>

    <label><h4>IpAddress:</h4></label>
    <div>
        @Model.IpAddress
    </div>

    <label><h4>Message:</h4></label>
    <div>
        @Model.Message
    </div>
</fieldset>
</body>
</html>
