﻿@model Piranha.Client.Models.PageModel
@{
	ViewBag.Title = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <title>CodeKarma Labs</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en-us">
    <meta name="description" content="CodeKarma Labs is the cutting edge application development company specializing in distributed and highly scalable web applications.">
    <meta name="author" content="CodeKarma Labs">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/Img/icons/icon.png">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/one.style.css">

    <!-- CSS Footer -->
    <link rel="stylesheet" href="~/assets/css/footers/footer-v7.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/pace/pace-flash.css">
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
</head>

<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" data-offset="70">
    <!--=== Header ===-->
    <nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="menu-container page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand logo" href="#home">
                    @*<img src="~/assets/img/logo.png" alt="Logo">*@
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <li class="home page-scroll">
                            <a href="#home">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#services">Services</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Connect with us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--=== End Header ===-->
    <!--  Home Section -->
    <section id="home" class="home-section fill-screen fixed-attachment parallaxBg" style="background-image: url(../../Assets/Img/bg/home.jpg)">
        <div class="container">
            <div class="row title-v1 ">
                <p class="col-sm-6 opp">
                    We're a growing and <strong>innovative</strong> software development company. We develop and support applications
                    spanning a wide range of industries including healthcare, hospitality and retail. 
                </p>
            </div>
        </div>

    </section>
    <!--  Home Section -->
    <!-- Services Section -->
    <section id="services">
        <div class="container content">
            <div class="title-v1">
                <h2>Our Services</h2>
                <p>
                    Our team of passionate developers craft delightful software solutions that are highly <strong>scalable</strong> and have massive reach. 
                </p>
            </div>

            <div class="row service-box-v1">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
                        <h2 class="heading-md">Web Design &amp; Development</h2>
                        <p>Extend your availability and footprint with a modern and effective web experience that delights</p>
                        <ul class="list-unstyled">
                            <li>Mobile Development</li>
                            <li>E-commerce</li>
                            <li>Enterprise Service layers</li>
                            <li>Client side desktop apps</li>
                            <li>Logo &amp; Brand Design</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                        <h2 class="heading-sm">Marketing, SEO &amp; Consulting</h2>
                        <p>Coming soon!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block service-block-default">
                        <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-cloud-upload"></i>
                        <h2 class="heading-sm">Embedded solutions &amp; IOT</h2>
                        <p>We specialize in cloud based wireless remote automation and monitoring solutions</p>
                        <ul class="list-unstyled">
                            <li>Wifi/ZigBee/Bluetooth</li>
                            <li>Big data &amp; cloud storage</li>
                            <li>Small footprint apps</li>
                            <li>Custom APIs</li>
                            <li><br/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->
    <!-- Contact Section -->
    <section id="contact" class="contacts-section fill-screen fixed-attachment" style="background-image: url(../../Assets/Img/bg/3.jpg)">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Contact Us</h2>
                <p>
                    We'd love to hear from you. Tell us a little bit about yourself and your project and we'll get back to you as soon as possible.
                </p>
            </div>

            <div class="row contacts-in">
                <div class="col-md-6 md-margin-bottom-40">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i> 5B Streat, City 50987 New Town US</li>
                        <li><i class="fa fa-phone"></i> 1(800) 220 084</li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:hello@codekarmalabs.com">hello@codekarmalabs.com</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <form action="api/ContactUs" method="post" id="sky-form3" class="sky-form contact-style">
                        <fieldset>
                            <label>Name</label>
                            <div class="row">
                                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <label>Email <span class="color-red">*</span></label>
                            <div class="row">
                                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <input type="text" name="email" id="email" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <label>Message</label>
                            <div class="row">
                                <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <p><button type="submit" class="btn btn-u btn-brd btn-brd-hover btn-u-dark">Send Message</button></p>
                        </fieldset>

                        <div class="message">
                            <i class="rounded-x fa fa-check"></i>
                            <p>Your message was successfully sent!</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="copyright-section">
            <p>2015 &copy; CodeKarma Labs LLC. All Rights Reserved.</p>
            <ul class="social-icons">
                <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
                <li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
            </ul>
            <span class="page-scroll"><a href="#home"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
        </div>
    </section>
    <!-- End Contact Section -->
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/pace/pace.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- JS Page Level-->
    <script type="text/javascript" src="~/assets/js/one.app.js"></script>
    <script type="text/javascript" src="~/assets/js/forms/login.js"></script>
    <script type="text/javascript" src="~/assets/js/forms/contact.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pace-loader.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/revolution-slider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initParallaxBg();
            ContactForm.initContactForm();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="~/assets/plugins/respond.js"></script>
        <script src="~/assets/plugins/html5shiv.js"></script>
        <script src="~/assets/js/plugins/placeholder-IE-fixes.js"></script>
        <script src="~/assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
        <script src="~/assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</body>
</html>
