﻿@using System.Web.Optimization
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<html lang="en">
<head>
    <title>@ViewBag.Title</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <link rel="icon" href="~/assets/img/icon.ico" type="image/x-icon">

    @Styles.Render("~/Assets/Unify/css/default")
    <link rel="stylesheet" href="~/assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    @Styles.Render("~/Assets/Unify/css/custom")

    @UI.Head()

    @RenderSection("head", required: false)
</head>
<body>
    <div class="wrapper">

        <div class="header header-sticky">
            <div class="container-fluid">

                <a class="logo pull-left" href="#">
                    <img src="~/assets/img/logo.png" alt="Logo">
                </a>

                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->

                <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse" role="navigation">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            @*@UI.Menu(stop: 1)*@
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Who we are</a></li>
                            <li><a href="#">Connect with us</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/Assets/Unify/js/default")
    @Scripts.Render("~/Assets/Unify/js/plugins")
    @Scripts.Render("~/Assets/Unify/js/custom")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
</body>
@RenderSection("script", required: false)
</html>
