﻿@model Piranha.Manager.Models.Page.ListModel
@{
	ViewBag.Title = Piranha.Manager.Resources.Page.ListTitle;
}
@section script {
	<script type="text/javascript">
		var options = {
			valueNames: ['page-title', 'page-type', 'page-updated', 'page-created']
		};
		var pageList = new List('page-list', options);
	</script>
}

<div class="row">
	<div class="col-sm-12 @(Model.PageTypes.Count == 1 ? "buttons" : "")">
		@if (Model.PageTypes.Count > 1 && Model.IsDefaultSelection)
        {
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-labeled btn-primary" data-toggle="dropdown">
					<span class="btn-label">
						<i class="glyphicon glyphicon-plus"></i>
					</span>@Piranha.Manager.Resources.Global.Add
				</button>
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right" role="menu">
					@foreach (var type in Model.PageTypes) {
						<li><a href="@Url.Action("Add", new { @type = type.Slug })">@type.Name</a></li>
					}
				</ul>
			</div>
		} else {
            var type = Model.IsDefaultSelection ? Model.PageTypes.FirstOrDefault() : Model.PageTypes.Where(t => t.IsActive).Single();

			<div class="btn-group submit pull-right">
				<a href="@Url.Action("Add", new { @type = type.Slug })" class="btn btn-primary btn-labeled">
					<span class="btn-label">
						<i class="glyphicon glyphicon-plus"></i>
					</span>@Piranha.Manager.Resources.Global.Add
				</a>
			</div>
		}

		<!-- Post type filter -->
		@if (Model.PageTypes.Count > 1)
        {
			<ul class="nav nav-pills">
				<li @(Model.IsDefaultSelection ? "class=active" : "")>
					<a href="@Url.Action("List", new { @slug = "" })">@Piranha.Manager.Resources.Global.All</a>
				</li>
				@foreach (var type in Model.PageTypes)
                {
					<li @(type.IsActive ? "class=active" : "")><a href="@Url.Action("List", new { @slug = type.Slug })">@type.Name</a></li>
				}
			</ul>
			<br />
		}
	</div>
</div>

<!-- Post table -->
<table id="page-list" class="table table-striped table-main">
	<thead>
		<tr>
			<th><span class="sort" data-sort="page-title">@Piranha.Manager.Resources.Global.Title</span></th>
			<th><span class="sort" data-sort="page-type">@Piranha.Manager.Resources.Global.Type</span></th>
			<th class="date"><span class="sort" data-sort="page-updated">@Piranha.Manager.Resources.Global.Updated</span></th>
			<th class="date"><span class="sort" data-sort="page-created">@Piranha.Manager.Resources.Global.Created</span></th>
			<th class="actions one"></th>
		</tr>
	</thead>
	<tbody class="list">
		@foreach (var page in Model.Items) {
			<tr @(!page.Published.HasValue ? "class=unpublished" : "")>
				<td>
					<a class="page-title" href="@Url.Action("Edit", new { id = page.Id })">@page.Title</a>
					<p class="meta">
						@if (page.Published.HasValue) {
							<text>Published: @page.Published.Value.ToString("yyyy-MM-dd")</text>
						} else {
							<text>Unpublished</text>
						}
					</p>
				</td>
				<td class="page-type">@page.Type</td>
				<td class="page-updated">@page.Updated.ToString("yyyy-MM-dd")</td>
				<td class="page-created">@page.Created.ToString("yyyy-MM-dd")</td>
				<td class="actions"><a class="delete" href="@Url.Action("Delete", new { @id = page.Id })"></a></td>
			</tr>
		}
	</tbody>
</table>



