/* Add here all your css styles (customizations) */

.one-page-header {
    background: rgba(255, 255, 255, 0.6);
}

.navbar-brand{
    padding: 0 15px 15px 15px;
}


.logo {
    background: url(../Img/Logo.png);
    background-repeat:no-repeat;
    display:block;
    width: 451px;
    height: 51px;
  }


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
  .logo {
    background: url(../Img/Logo_236x29.png);
    background-repeat:no-repeat;
    display:block;
    width: 236px;
    height: 29px;
    margin-top: 10px;
  }

  .home-section p {
        font: 20px Sans-Serif;
    }    
}

.fill-screen {
    -ms-background-size: cover;
    background-size: cover;
    background-position: center;
}

.fixed-attachment {
    background-attachment: fixed;
}
@media (max-width: 1024px){
    .fixed-attachment {
        background-attachment: scroll;
    }	

    
}


@media (min-width: 1600px){
    .home-section p {
        margin-left: -160px;
        font: 28px Sans-Serif;
    }    
}



/*Home Section
------------------------------------*/
/*Home Section*/
.home-section {
    padding-top: 300px;
    padding-bottom: 250px;
    background-repeat:no-repeat;
    -ms-background-size:contain;
    background-position:center;
}

.home-section p {
    color: white;
    font: 22px Sans-Serif;
}

.opp {
    /*background: rgba(0, 0, 0, 0.25);*/
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

